* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    font-family: Arial, sans-serif;
    margin: auto;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    font-size: 35px;
    color: #007BFF;
    margin: 10px;
}

.search-icon {
    font-size: 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    width: 50px;
}

.login-button {
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 40px;
    color: rgb(59, 12, 231);
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    padding: 10px 0;
}

.nav-button {
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 40px;
    color: rgb(59, 12, 231);
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 15px;
}

.events {
    margin: 15px;
}

.date-container {
    display: flex;
    overflow-x: auto;
    margin: 15px;
}

.week-day {
    margin-left: 14px;
}

.date-button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 15px;
}

.for-you {
   margin: 15px;
}