.sidebar {
  position: fixed;
  top: 0;
  left: -230px;
  width: 200px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.container a {
  display: flex;
  align-items: center; 
  padding: 10px 0;
  font-size: 15px;
  text-decoration:  none;
  color: #000000;
}

.container img {
  margin-right: 10px; 
}

.SidebarButtons span{
  margin-top: 35px;
}

.line, .line2, .line3 {
  border-bottom: 1px solid #000000;
}

.logo2 {
  width: 50px;
  margin-left: 10px;
}

.fullname, .tickets-vlru, .favourite, .city, .logout {
  margin-top: 35px;
  margin-left: 10px;
  width: 30px;
  vertical-align: middle;
}

.login span {
 font-weight: bold;
}

.line2 {
  margin-top: 40px;
}

.log-out {
  margin-top: 125%;
}

.log-out span {
  color: red;
}