/* .sidebar {
  
  background-color: #f0f0f0;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-item {
  
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  
  margin-right: 10px;
} */